<div class="allTasks">
    <div class="leftInline">    
        <div class="inline">
            <%# checkbox %>
            <%= form_with class: "checkbox", model: [ task.category, task ] do |f| %>
                <%= f.check_box :complete, class: "checkbox", onchange: "this.form.submit();" %>
            <% end %>
        </div>
        <% if task.complete %>
            <s><%= task.name %></s>
        <% else %>
            <%= task.name %>
        <% end %>
    </div>
</div>