<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">
    
    <div class="formContainer">
        
        <div class="pageTitle">edit task</div>
    
        <%= render "tasks/form", category: @category, task: @task %>
    
    </div>

</div>