<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">

    <div class="pageTitleContainer">
        <div class="pageTitle">tasks due soon</div>
    </div>

    <div class="mainSubContainer">
 
        <div class="tasksContainer">
            <div class="tasks">
                <% @soon.each do |task| %>    
                    <%= render "tasks/task_due", task: task %>    
                <% end %>
            </div>

            <div class="smallLink">
                <%= link_to "categories", categories_path %>
            </div>
        </div>
        
    </div>

</div>