.navLinks a {
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

.navLinks a:visited {
    color: white;
}

.navBar
    {
        display:            flex;
        background:         blue;
        height:             50px;
        position:           fixed;
        top:                0;
        left:               0;
        right:              0;
        border-color: blue 2px;
    }

.websiteName
    {
        font-size:          30px;
        font-weight:        bold;
        padding-left:       100px;
        display:            flex;
        align-items:        center;
    }

.navLinks
    {
        font-family:        Arial;
        font-size:          30px;
        font-weight:        bold;
        text-align:         right;
        display:            flex;
        align-items:        center;
        padding-left:       400px;

    }

.navLinks
    {
        padding-left:       50px;
    }