.navBar {
    display: flex;
    flex-direction: row;
    background: #087ac2;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.websiteName {
    display: flex;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 100px;
    align-items: center;
    width: 100px;
}

.websiteName a:visited {
    color: white;
}

.navLinks {
    display: flex;
    flex: 1;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center;
    color: white;
    padding-right: 50px;
}

.navLinks a {
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

.navLinks a:visited {
    color: white;
}

.navLink1 {
    display: flex;
    flex: 2;
    justify-content: end;
    margin-right: 30px;
}

.navLink2 {
    display: flex;
    width: 100px;
}