.formContainer {
    width: 40%;
    background-color: #e1f7ff;
    color: #1170ff;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    margin-top: 5%;
    -webkit-box-shadow: 0 0 5px rgba(70, 180, 240, 0.2),
        2px 3px 4px rgba(77, 147, 228, 0.65),
        inset 2px 3px 4px rgba(31,31,31,.6),
        inset 0 0 5px rgba(31, 75, 209, 0.25);
    -moz-box-shadow: 0 0 5px rgba(93, 164, 227, 0.2),
        2px 3px 4px rgba(68, 93, 205, 0.65),
        inset 2px 3px 4px rgba(31,31,31,.6),
        inset 0 0 5px rgba(30, 24, 187, 0.25);
    box-shadow: 0 0 5px rgba(119, 156, 223, 0.2),
        2px 3px 4px rgba(19, 75, 154, 0.65),
        inset 2px 3px 4px rgba(54, 49, 193, 0.6),
        inset 0 0 5px rgba(30, 14, 175, 0.25);
    overflow: hidden;
}

.field {
    margin-top: 20px;
    font-size: 15px;
}

.actions {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.lower {
    margin-top: 120px;
}

.higher {
    margin-top: 10px;
}

.thinner {
    width: 30%;
}