.tasksContainer {
    background:#d0e7f5;
    height: 350px;
    width: 350px;
    margin: 20px;
    font-size: 0.5em;
    text-align: left;
    color: #000;
    margin: auto;
    display: block;
    padding: 1em;
    overflow: scroll;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
}

.allTasks {
    display: flex;
    color: #1170ff;
}

.leftInline {
    display: flex;
    flex: 2;
    color: #1170ff;
    width: 200px;
    font-size: 40px;
}

.rightInline {
    display: flex;
    flex: 1;
    font-family: Arial;
    font-size: 15px;
    text-align: right;
    align-items: center;
    color: white;
}

.allTasks a {
    color: #ffffff;
}

a:link {
    text-decoration: none;
}

.allTasks a:visited {
    color: indigo;
}

.inline {
    justify-content: end;
    margin-right: 15px;
}

.taskDetails {
    color: #1170ff;
    font-size: 30px;
}

.bottomLinks {
    margin-top: 15px;
}

.category {
    font-size: 20px;
    color: #1170ff;
}