<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">
    
        <div class="pageTitle">edit category</div>

        <%= render "form", category: @category %>

</div>