<%= render "html_header" %>
<%= render "html_sidebar" %>

<div class="mainContainer">

    <div class="formContainer">
        <div class="pageTitle">new category</div>
        <%= render "form", category: @category %>
    </div>
        
</div>